.inbox-item-icon
  =pie_chart(item.votes_for_graph, 
    library: { pieSliceText: 'none', 
               legend: {position: 'none'},
               tooltip: {trigger: 'none'},
               colors: Motion::CHART_COLOURS },
    height: '50px', width: '50px')

= link_to item.title, item
.pull-right
  closes
  = time_formatted_relative_to_age(item.close_at)
motion!
