- if group.membership_requests.present? && (can? :add_members, group)

  .sub-panel#user-requests
    %h4= t(:membership_requests)
    = link_to pending_membership_requests_count(group), group_membership_requests_path(group), class: 'bottom-panel-link', id: 'pending-count'
    
    / -membership_request_announce = "#{t(:membership_requests)} (#{group.membership_requests.count})"
    / = link_to membership_request_announce, group_membership_requests_path(group), class: 'bottom-panel-link'

  / .sub-panel#membership-requests
  /   %h4= t :membership_requests
  /   %ul
  /     =render :partial => 'membership_request', :collection => group.membership_requests
