- unless can? :add_members, group

  -if current_user.nil?
    =link_to t(:request_membership), new_group_membership_request_path(group), class: 'btn request-membership-btn', id: 'request-membership'
  -elsif not group.users_include?(current_user)
    #request-membership
      / existing system: signed in but not in group
      - if not group.users_include?(current_user) || current_user.nil?
        - membership_request = group.membership_requests.find_by_user_id(current_user)
        - if membership_request.present?
          = link_to t(:membership_requested), cancel_request_for_group_membership_path(group), method: :delete,
            confirm: t(:confirm_remove_membership_request),
            class: "btn", id: "membership-requested"
        - else
          - if group.parent.nil? || current_user.group_membership(group.parent)
            =form_for(Membership.new, url: group_memberships_path(group)) do |f|
              %input{name: "membership[group_id]", type: :hidden, value: group.id}
                =submit_tag t(:request_membership), class: "btn"
