.row
  .span8.offset1
    %h1 Sign up your group
.row
  .span4.offset1
    = render 'sign_up_form'

  .span4
    .info-box#informal-group
      %h2 Pay what you can
      %p Your group members will be invited to pay what they can.
      %p
        If you would rather pay on behalf of your group,
        = link_to 'sign up for a subscription.', '/group_requests/3/group_sign_up_formal'
