.row
  .span4.offset1
    %h1 30 day free trial
    %p No credit card required
    = render 'sign_up_form'

  .span4
    .info-box#organisation
      %h2 Pricing tiers
      %table
        %tr
          %th Group size
          %th Price
        %tr
          %td <10:
          %td $30
        %tr
          %td 11-25:
          %td $50
        %tr
          %td 26-50:
          %td $100
        %tr
          %td 51-100:
          %td $200
        %tr
          %td >100:
          %td talk to us
      %p At the end of your 30 day free trial, you’ll be asked to enter credit card details to continue using Loomio.