.row
  .span4
    %h1 Sign up your group
    = render 'sign_up_form'

  .span4
    .info-box
      %h2 Pay what you can
      %p Your group members will be invited to contribute from time to time.
      %p
        If you would rather pay and not have your members prompted for donations
        = link_to 'see subscriptions', '/group_requests/3/group_sign_up_formal'
