.row
  .span8.offset1
    #intro
      %h1 What kind of group are you?
      %p We believe money shouldn't be a barrier, so we're developing a revenue model that puts you in charge of the ammount you pay.
      %p Your contribution means we can keep Loomio independant, free of advertising, and driven by our communmity of users.

.row
  .span4.offset1
    .payment-model-box#organisation
      %h2 Organisation
      %p.examples e.g businesses, government dept, community organisations
      %p Your group will be invoiced monthly after a 30 day free trial 
      = link_to 'Subscription', "/group_requests/3/group_sign_up_formal", class: "btn btn-success btn-large btn-block"
  .span4
    .payment-model-box#informal-group
      %h2 Informal group
      %p.examples e.g. families, social movements, loose collectives
      %p Members of your group will be asked to contribute what they can
      = link_to 'Pay What You Can', "/group_requests/3/group_sign_up_informal", class: "btn btn-info btn-large btn-block"