.row
  .span4.offset1
    #intro
      %h1 Try Loomio for free

.row
  .span4.offset1
    = render 'sign_up_form'
  .span4
    .info-box#organisation
      %table
        %tr
          %td Up to 10 people
          %td 
            %span US
            $30/mo
        %tr
          %td Up to 25
          %td 
            %span US
            $50/mo
        %tr
          %td Up to 50
          %td 
            %span US
            $100/mo
        %tr
          %td More than 100
          %td 
            = mail_to('contact@loomio.org', 'Talk to us!' )
      %p  
        You'll be asked to enter credit card details at the end of your 
        %span 30-day free trial.
