.card-row#create-a-proposal
  .card.cover
    .card__header
      %h3 Ready to make a decision?
    .card__content
      %a.cuke-show-new-proposal-form-btn{href: '#', ng_click: 'showNewProposalForm()'}
        Create a proposal
  .card.form
    .card__header
      %h3 This is the form
    .card__content
      Right here
