= render '/application/mailer_doctype'
%html
  .proposal-text
    %p= t("email.proposal_closed.intro", proposal_name: @motion.name)

    %p= link_to(t("email.proposal_closed.specify_outcome_and_notify_group"), discussion_url(@motion.discussion, proposal: @motion))
