@import "settings";
@import "bootstrap/mixins";
@import "mixins";

body.group_requests {
  &.new, &.create {
    abbr { display: none; }
    h1 { margin-bottom: 10px; }
    textarea { height: 80px; }
    .radio { padding-top: 10px; }
    .robot_trap {
      margin-left: -5000px;
      margin-bottom: 0;
      height: 0;
    }
  }
}

body.group_requests {
  &.group_sign_up_formal, &.group_sign_up_informal {
    form { margin-top: 10px; }
    h6 { font-weight: 400; }
    .info-box {
      @include border-radius(4px);
      background-color: #EEE;
      border: 1px solid #DDD;
      margin-left: 40px;
      padding: 10px 20px;
      h2 { font-weight: 400; }
      ul {
        list-style: disc;
        margin-left: 20px;
      }
    }
  }
}