@import "twitter/bootstrap";
@import "twitter/bootstrap/mixins";
@import "media_queries";
@import "color";
@import "buttons";

// * { border: 1px solid #333; }


body, h1, h3, h4, h5 {
  font-family: 'OpenSans-Light';
  color: $font;
}

h2 {
  font-family: 'OpenSans-Bold';
  font-size: 18px;
}

.home {


  text-align: center;
  a:hover { text-decoration: none; }

  p.lg { font-size: 18px; }

  .block-link {
    display: block;
    h1, h2, h3, h4, h5, p { color: white; }
  }


  .content {
    padding: 48px 24px;
    @include screen-size(small-up) {
      width: 768px;
      margin: 0 auto;
    }
    // border: 1px solid red;
  }

  .navbar {
    text-align: left;
    padding-top: 20px;
    .content {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .navbar-brand { padding: 0 15px; }

  .hero {
    background-color: $ash;
  }

  .crowdfunding {
    background-color: $blue;
    &:hover { background-color: darken($blue, 6%); }
  }

  .mobile {
    background-color: $teal;
  }

  .quote {
    background-color: $ash;
  }

  .team {
    background-color: $orange;
    &:hover { background-color: darken($orange, 6%); }
  }

  .vision {
    background-color: $purple;
    &:hover { background-color: darken($purple, 6%); }
  }

  .footer {
    background-color: $slate
  }
}
