@import "twitter/bootstrap";
@import "twitter/bootstrap/mixins";
@import "media_queries";
@import "color";
@import "buttons";

.home {
  * { border: 1px solid #333; }

  text-align: center;
  a:hover { text-decoration: none; }

  p.lg {}

  .block-link {
    color: white;
  }

  .navbar { text-align: left; }

  .content {
    padding-left: 24px;
    padding-right: 24px;
    @include screen-size(small-up) {
      width: 768px;
      margin: 0 auto;
    }
    // border: 1px solid red;
  }

  .hero {
    background-color: $ash;
  }

  .crowdfunding {
    background-color: $blue;
    &:hover { background-color: darken($blue, 6%); }
  }

  .mobile {
    background-color: $teal;
  }

  .quote {
    background-color: $ash;
  }

  .team {
    background-color: $orange;
    &:hover { background-color: darken($orange, 6%); }
  }

  .vision {
    background-color: $purple;
    &:hover { background-color: darken($purple, 6%); }
  }

  .footer {
    background-color: $slate
  }
}

