%li.nav-item.dropdown#groups
  %a.nav-link{href: "#",  class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
    %span.header-bar-icon.nav-item-icon.large-icon.group-icon
    %span= t :'inbox.dropdown-btn'
    %b.caret
  %ul.dropdown-menu
    #inbox-container

