%li.nav-item#search
  = form_tag method: 'get', id: 'search-form' do |f|
    .input-prepend
      .add-on
        %i.icon-search
      = text_field_tag :query, nil, label: false, placeholder: " search", class: 'input-medium'
